body {
    font-family: "Montserrat",sans-serif;
}

h1, h2, h3, .brand-logo {
    font-family: "Pacifico", sans-serif;
}


.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}