body {
    font-family: "Montserrat",sans-serif;
    background-color: #f6f5f3;
}

h1, h2, h3, .brand-logo {
    font-family: "Pattaya", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Pattaya', sans-serif;
    color: #000;
}


.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.nav-wrapper {
    margin: 0 1rem;    ;
}

.main-navbar {    
    width: 80%;
    padding-left: 16%;
}

.recipe-img {
    width: 100%;
    height: 400px;    
    object-fit: cover;    
}

li::marker {
    font-size: 1.5rem;
}

.ingredient-list:not(.browser-default) {
    padding-left: 40px;
}

.ingredient-list:not(.browser-default) > li {
    margin-bottom: 5px;
    line-height: 1.5;
    list-style-type: disc;
}

.user-image {
    height: 56px;
}

.feature-panel {
    height: 400px;
    padding: 0;
    margin-bottom: 60px;
}

.no-padding {
    padding: 0;
}

.feature-icon {    
    font-size: 2rem;
    margin: 0 1rem;   
    
}

.like-box {
    margin: 0 auto;
    padding-top: 70px;
}

.ingredient-panel {
    color: white;
    background-color: #ef6c00;
}

#recipe-steps {
    padding-left: 100px;
}

.tag-section {
    padding-left: 15px;
}

/* .title-section {
    margin: 30px 0 0;
} */

.nav-breadcrumb {
    background-color: transparent;
    box-shadow: none;
}

.breadcrumb {
    font-size: 18px;
    color: rgba(0,0,0,0.7);
}

.breadcrumb::before {
    color: rgba(0,0,0,0.7);
}

.breadcrumb:last-child {
    color: #000;
    cursor: default;
    pointer-events: none;
}

.recipe-title {
    font-size: 3.5rem;
    margin: 0;
}

.recipe-subtitle {
    font-size: 2rem;
    margin: 0;
}

.btn {
    background-color: #ef6c00;
    font-family: "Montserrat",sans-serif;
}

.btn-like-no {
    background-color: #ef6c00;
}

.btn-like-yes {
    background-color: #26a69a;
}

.title-underline {
    width: 50px;    
    height: 3px;
    border-radius: 2px;
    background-color: #ef6c00;
    border: none;    
    margin: 10px;
}

.recipe-content {
    display: flex;
    margin-bottom: 80px;
}

#user-icon {
    font-size: 50px;
}

.user-login-icon {    
    width: 110px;
}

nav .brand-logo {
    display: inline-flex;
}

.img-logo {    
    border-style: none;
    width: 50px;
    padding-top: 5px;
}

.text-logo {
    font-size: 35px;
    margin: 0 15px;
    padding-top: 10px;
}

.callout-up, .callout-bottom {
    height: 238px;
    padding: 0;
    margin: 0;
    background-size: cover;
    position: relative;
}

.callout-up:hover .overlay, .callout-bottom:hover .overlay {
  opacity: 0.2;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
}

.callout-text {
    position: absolute;
}

.carousel-item {
    background-size: cover;
}

.callout-overlay {
    /* height: 120px; */
    height: 100%;
    background-color: black;
    padding-top: 20px;
    opacity: 0.5;
}

.callout-up {
    margin-bottom: 0.75rem;
    background-image: url(/static/images/callout-7.png);
    
}

.callout-bottom {
    margin-top: 0.75rem;
    background-image: url(/static/images/callout-5.png)
}

.callout {
    padding-top: 25px;
    width: 80%;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.carousel {
    height: 500px;
}

.carousel-text-heading {
    position: absolute;
    top: 160px;
    right: 10%;
    left: 10%;
}

.carousel-text-paragraph {
    position: absolute;
    top: 220px;
    right: 10%;
    left: 10%;    
}

.carousel.carousel-slider .carousel-item p {
    font-size: 1.5rem;
}

.carousel-1 {
    background-image: url(/static/images/callout-1.png);
    object-fit: cover;
}

.carousel-2 {
    background-image: url(/static/images/callout-2.png);
    object-fit: cover;
}

.carousel-3 {
    background-image: url(/static/images/callout-3.png);
    object-fit: cover;
}

.carousel-4 {
    background-image: url(/static/images/callout-4.png);
    object-fit: cover;
}

.btn-more {
    font-size: 1rem;
    margin: 0;
    float: right;
}

.book-section {
    background-color: #ef6c00;
    height: 300px;
    margin-bottom: 30px;
}

.book-image {
    float: right;
    height: 200px;
    margin: 40px 20px;
}

.book-description-section {
    max-width: 500px;    
}

.newsletter-signup-text {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

#form-newsletter {    
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

.book-heading {
    margin-top: 40px;
}

.purchase-button {
    background-color: #26a69a;
}

.ramen-home-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    float: right;    
    margin: 40px 20px;
}

.register-section {
    background-color: #fff;
    padding-top: 30px;    
}

.callout-wrapper {
    background-color: #fff;
}

.comment {
    background-color: white;
    display: inline-block;
    padding: 20px;
    box-shadow: 1px 1px 5px grey;
    margin: 5px;
}

#comment-user {
    font-size: 1.2rem;
    font-weight: bold;
}

#comment-date {
    padding-left: 5px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: grey;
}

#comment-text {
    /* margin-left: 15px; */
}

.comment-section {
    margin-bottom: 50px;
}

/* .profile-image-box {
    background-color: #ef6c00;
} */

.user-section {
    margin-top: 50px;
    margin-bottom: 50px;    
}

.user-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 24px;
}

.profile-image-box {
    display: inline-block;
    background-color: #ef6c00;
}

.profile-image-wrapper {
    padding: 0;
}

.profile-info-box {
    margin-left: 40px;
}

.add-recipe-icon {
    padding-top: 200px;
    color: darkgrey;
    font-size: 100px;
    width: 100%;
    height: 100%;
}

.add-recipe-card {
    border-style: dashed;
    border-color: darkgray;
}

.add-recipe-card:hover {
    opacity: 0.8;
}

.card .card-image img {
    object-fit: cover;
    height: 300px;
}

.profile-info {
    font-weight: bold;
}

td {
    padding: 0;
}

tr {
    border: none;
}

table {
    margin-bottom: 20px;
}

.modal-title {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding: 24px;
}

.modal .modal-content {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

/* textarea.materialize-textarea {
    height: 85px;
} */

.edit-panel {
    margin-top: 50px;
    margin-bottom: 50px;
}

.edit-title {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    padding: 24px;
}

.pagination li.active {
    background-color: #ef6c00;
}

.add-category-icon {
    padding-top: 100px;
}

#newsletter-button {
    padding: 0 1rem;
    background-color: white;
    border: none;
    color: black;
    border: none;
    cursor: pointer;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #ef6c00;
    background-color: #ef6c00;
}

/* da rinominare */

#form_contact {
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

#email-address {
    padding: 0rem;
    margin: 0 0 1rem 1rem;
}

#submit {
    padding: 0 1rem;
    background-color: white;
    border: none;
    color: #37474F;
    border: none;
}

.icon-newsletter {
    font-size: 1.5rem;
}

footer li {
    display: inline-block;
    margin-right: 10px;
}

.mv-half {
    margin: 0.5rem 0;
}

.fab {
    font-size: 2rem;
    margin: 0 1rem;
    color: white;
    font-weight: 400;
}

/* fine da rinominare */