  
{% extends "base.html" %}
{% block content %}

    <div class="container title-section">
        <div class="row">
            <nav class="nav-breadcrumb hide-on-small-only">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="{{ url_for('home') }}" class="breadcrumb">Home</a>
                        <a href="{{ url_for('get_recipes') }}" class="breadcrumb">Recipes</a>
                        <a href="{{ url_for('category', category=category) }}" class="breadcrumb">{{ category_obj.category_name }}</a>
                    </div>
                </div>
            </nav>

            <div class="col l6 m12 s12">
                <h3 class="recipe-title">{{ category_obj.category_name }}</h3>
                <hr class="title-underline">
                <span class="recipe-subtitle">Browse our selection of recipes</span>
            </div>
            <form action="{{ url_for('search') }}" method="post" class="col m6 s12">
                <div class="row valign-wrapper center-align">
                    <div class="input-field col l6 m12" id="search-recipes">
                        <i class="fas fa-search prefix hide-on-small-only"></i>
                        <input type="text" name="query" id="query" minlength="3" class="validate search-field" required>
                        <label for="query">Search Recipes</label>
                    </div>
                    <div class="col s12 m6">                        
                        <button type="submit" class="btn text-shadow">
                            <i class="fas fa-search left"></i> Search
                        </button>
                    </div>
                </div>
            </form>
        </div>        
    </div>

    {% if recipes|length > 0 %}
        <div class="container">
            <div class="row">
                {% for recipe in recipes %}
                    <div class="col s12 m6 l6 xl4">
                        <div class="card medium hoverable">
                            <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                <div class="card-image">
                                    <img src="{{ recipe.recipe_img }}">
                                    <span class="card-title"></span>
                                </div>
                                <div class="card-content center-align">
                                    <h5 class="recipe-name">
                                        {{ recipe.recipe_name }}
                                    </h5>
                                    <!-- <p><em>by: {{ recipe.created_by }}</em></p> -->                                    
                                    <div class="chip">
                                        <i class="fas fa-heart"> {{ recipe.likes}}</i>                
                                    </div>
                                     <div class="chip">
                                        <i class="fas fa-comment"> {{ recipe.comment_array|length }}</i>                
                                    </div>
                                    <div class="chip">
                                        {{ recipe.difficulty }}                
                                    </div>
                                </div>                                
                                
                            </a>
                        </div>                
                    </div>
                {% endfor %}
            </div>
            <div class="row center-align">
                {{ pagination.links }}
            </div>
        </div>
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}

{% endblock %}