{% extends "base.html" %}

{% block content %}

    <!-- CALLOUT -->
    <div class="container-fluid callout-wrapper">
        <div class="row callout">
            <div class="col l8 m12 s12">
                <div class="carousel carousel-slider center">
                    <div class="carousel-fixed-item center">
                        <a class="btn waves-effect" id="carousel-button">Check the Recipe</a>
                    </div>
                    {% for recipe in recipes_admin %}
                        {% if loop.index < 5 %}
                            <div class="carousel-item" style="background-image: url({{ recipe.recipe_img }});">
                                <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}"></a>
                                <div class="callout-overlay"></div>
                                <h3 class="carousel-text-heading white-text">{{ recipe.recipe_name }}</h3>
                                {% for category in categories %}
                                    {% if recipe.category == category._id|string %}
                                        <p class="carousel-text-paragraph white-text">{{ category.category_name }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col l4 m12 s12">
                <a href="{{ url_for('register') }}">
                    <div class="col s12 callout-up hoverable">
                        <div class="overlay"></div>
                        <h4 class="white-text callout-text">Register Today</h4>
                    </div>
                </a>
                <a href="{{ url_for('get_recipes') }}">
                    <div class="col s12 callout-bottom hoverable">
                        <div class="overlay"></div>
                        <h4 class="white-text callout-text">Check Our Recipes</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /CALLOUT -->

    <!-- REGISTER -->
    <div class="container-fluid register-section">
        <div class="row">
            <div class="col m6 s12 book-cover-section hide-on-small-only">
                <img class="ramen-home-image circle" src="/static/images/callout-1.png" alt="ramen-bowl">
            </div>
            <div class="col m6 s12 book-description-section">
                    <h4 class="book-heading">We Love Your Ideas! <br>Register to Upload your Recipe!</h4>
                    <p>
                        There’s something special about noodles. It seems like as long people have been cooking, we’ve been finding something tasty to put alongside noodles. Today, nearly every culture on the planet has some version of noodles, whether it’s for pasta, soup, or something else.
                    </p>
                    <a class="btn" href="{{ url_for('register') }}">Join The Community</a>
            </div>
        </div>
    </div>
    <!-- /REGISTER -->

    <!-- SHOYU & SHIO CATEGORIES -->
    {% for category in categories %}
        {% if category._id|string == "6048b1f2595caef8e390a6ac" or category._id|string == "60491e3c4b1e42b5f3519954" %}
            <div class="container title-section">
                <div class="row">
                    <div class="col s12">
                        <h3 class="recipe-title">{{ category.category_name }}</h3>
                        <hr class="title-underline">
                    </div>
                </div>
                <div class="row">
                    <div class="col m10 s12">
                        <span class="recipe-subtitle">{{ category.category_description}}</span>
                    </div>
                    <div class="col m2 s12">
                        <a class="btn btn-more" href="{{ url_for('category', category=category._id) }}">More</a>
                    </div>
                </div>
            </div>
            {% if recipes|length > 0 %}
                {% set cnt = namespace (cnt_index = 0) %}
                <div class="container">
                    <div class="row">
                        {% for recipe in recipes %}
                            {% if cnt.cnt_index < 3 %}
                                {% if recipe.category == category._id|string  %}
                                    <div class="col s12 m6 l6 xl4">
                                        <div class="card medium hoverable">
                                            <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                                <div class="card-image">
                                                    <img src="{{ recipe.recipe_img }}" alt="recipe-image">
                                                    <span class="card-title"></span>
                                                </div>
                                                <div class="card-content center-align">
                                                    <h5 class="recipe-name">
                                                        {{ recipe.recipe_name }}
                                                    </h5>
                                                    <div class="chip">
                                                        <i class="fas fa-heart"> {{ recipe.likes}}</i>
                                                    </div>
                                                     <div class="chip">
                                                        <i class="fas fa-comment"> {{ recipe.comment_array|length }}</i>
                                                    </div>
                                                    <div class="chip">
                                                        {{ recipe.difficulty }}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    {% set cnt.cnt_index = cnt.cnt_index + 1|int %}
                                {% endif %}
                            {% endif  %}
                        {% endfor %}
                        <div class="col m6 hide-on-small-only hide-on-x-large-only">
                            <div class="card medium hoverable center-align category-card">
                                <a href="{{ url_for('category', category=category._id) }}">
                                    <div class="overlay-category"></div>
                                    <h3 class="white-text category-text">Check more {{ category.category_name }} recipes</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
            {% endif %}
        {% endif %}
    {% endfor %}
    <!-- /SHOYU & SHIO CATEGORIES -->

    <!-- BOOK -->
    <div class="container-fluid book-section">
        <div class="row">
            <div class="col m6 book-cover-section hide-on-small-only">
                <img class="book-image" src="/static/images/mockup.png" alt="book">
            </div>
            <div class="col m6 s12 book-description-section white-text">
                    <h4 class="book-heading white-text">Love Our Recipes? <br>Checkout our Book!</h4>
                    <p>
                        Buy our best-selling cookbook full of easy and simple Japanese recipes! This cookbook has over 100 recipes and instructions for all types of ramen.
                    </p>
                    <a class="btn purchase-button" href="#">Purchase today!</a>
            </div>
        </div>
    </div>
    <!-- /BOOK -->

    <!-- MISO & NOODLE DISHES CATEGORIES -->
    {% for category in categories %}
        {% if category._id|string == "6048ad7b538afe6d28503533" or category._id|string == "6054cc76c375d858d90998d7" %}
            <div class="container title-section">
                <div class="row">
                    <div class="col s12">
                        <h3 class="recipe-title">{{ category.category_name }}</h3>
                        <hr class="title-underline">
                    </div>
                </div>
                <div class="row">
                    <div class="col m10 s12">
                        <span class="recipe-subtitle">{{ category.category_description}}</span>
                    </div>
                    <div class="col m2 s12">
                        <a class="btn btn-more" href="{{ url_for('category', category=category._id) }}">More</a>
                    </div>
                </div>
            </div>
            {% if recipes|length > 0 %}
                {% set cnt = namespace (cnt_index = 0) %}
                <div class="container">
                    <div class="row">
                        {% for recipe in recipes %}
                            {% if cnt.cnt_index < 3 %}
                                {% if recipe.category == category._id|string  %}
                                    <div class="col s12 m6 l6 xl4">
                                        <div class="card medium hoverable">
                                            <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                                <div class="card-image">
                                                    <img src="{{ recipe.recipe_img }}" alt="recipe-image">
                                                    <span class="card-title"></span>
                                                </div>
                                                <div class="card-content center-align">
                                                    <h5 class="recipe-name">
                                                        {{ recipe.recipe_name }}
                                                    </h5>
                                                    <div class="chip">
                                                        <i class="fas fa-heart"> {{ recipe.likes}}</i>
                                                    </div>
                                                     <div class="chip">
                                                        <i class="fas fa-comment"> {{ recipe.comment_array|length }}</i>
                                                    </div>
                                                    <div class="chip">
                                                        {{ recipe.difficulty }}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    {% set cnt.cnt_index = cnt.cnt_index + 1|int %}
                                {% endif %}
                            {% endif  %}
                        {% endfor %}
                        <div class="col m6 hide-on-small-only hide-on-x-large-only">
                            <div class="card medium hoverable center-align category-card">
                                <a href="{{ url_for('category', category=category._id) }}">
                                    <div class="overlay-category"></div>
                                    <h3 class="white-text category-text">Check more {{ category.category_name }} recipes</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
            {% endif %}
        {% endif %}
    {% endfor %}
    <!-- /MISO & NOODLE DISHES CATEGORIES -->

    <!-- NESLETTER -->
    <div class="container-fluid book-section">
        <div class="row newsletter-signup-text">
            <div class="col s12 white-text center-align">
                <h4 class="book-heading white-text">Newsletter Sign Up</h4>
                <p>Enter your email address to receive each month our latest news and special offers!</p>
            </div>
            <div class="input-field col s12">
                <form id="form-newsletter" method="POST">
                    <input type="email" name="email-address" id="email-address" placeholder="email" required>
                    <label for="newsletter-button" class="valign-wrapper active">
                        <button id="newsletter-button" type="submit">
                            <i class="far fa-paper-plane icon-newsletter"></i>
                        </button>
                    </label>
                </form>
            </div>
        </div>
    </div>
    <!-- /NEWSLETTER -->

    <!-- RANDOM RECIPES -->
    <div class="container title-section">
        <div class="row">
            <div class="col s12">
                <h3 class="recipe-title">You May Like</h3>
                <hr class="title-underline">
            </div>
        </div>
        <div class="row">
            <div class="col m10 s12">
                <span class="recipe-subtitle">Browse our selection of recipes</span>
            </div>
            <div class="col m2 s12">
                <a class="btn btn-more" href="{{ url_for('get_recipes') }}">More</a>
            </div>
        </div>
    </div>
    {% if recipes|length > 0 %}
        <div class="container">
            <div class="row">
                {% for recipe in recipes %}
                    {% if loop.index <= 3  %}
                        <div class="col s12 m6 l6 xl4">
                            <div class="card medium hoverable">
                                <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                    <div class="card-image">
                                        <img src="{{ recipe.recipe_img }}" alt="recipe-image">
                                        <span class="card-title"></span>
                                    </div>
                                    <div class="card-content center-align">
                                        <h5 class="recipe-name">
                                            {{ recipe.recipe_name }}
                                        </h5>
                                        <div class="chip">
                                            <i class="fas fa-heart"> {{ recipe.likes}}</i>
                                        </div>
                                         <div class="chip">
                                            <i class="fas fa-comment"> {{ recipe.comment_array|length }}</i>
                                        </div>
                                        <div class="chip">
                                            {{ recipe.difficulty }}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        {{ break }}
                    {% endif  %}
                {% endfor %}
                <div class="col m6 hide-on-small-only hide-on-x-large-only">
                    <div class="card medium hoverable center-align category-card">
                        <a href="{{ url_for('get_recipes') }}">
                            <div class="overlay-category"></div>
                            <h3 class="white-text category-text">Check more recipes</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}
    <!-- /RANDOM RECIPES -->

{% endblock %}