{% extends "base.html" %}
{% block content %}

    <div class="container user-section">
        <div class="row card-panel profile-image-wrapper">
            <div class="col s12 m4 profile-image-box center-align valign-wrapper">                
                    <img src="{{ user.user_img }}" alt="user-image" class="circle user-image">                
            </div>
            <div class="col m8 s12">
                <div class="profile-info-box">
                    <h3 id="welcome-user-text">Welcome back, {{ user.username }}</h3>
                    <table>
                        <tr>
                            <td><span class="profile-info">Username:</span></td>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <td><span class="profile-info">Email:</span></td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td><span class="profile-info">Recipes:</span></td>
                            <td>{{ recipes_complete|length }}</td>
                        </tr>
                    </table>                    
                    <a href="#modal-img" class="btn modal-trigger btn-profile">Edit Profile</a>
                    <a href="{{ url_for('logout') }}" class="btn btn-profile">Log Out</a>              
                </div>
            </div>
        </div>
    </div>

    <!-- new -->
    <div class="container title-section">
        <div class="row">            
            <div class="col s12">
                <h3 class="recipe-title">Your Recipes - {{ recipes_complete|length }}</h3>
                <hr class="title-underline">                        
            </div>                    
        </div>
        <div class="row">
            <div class="col m8 s12">
                <span class="recipe-subtitle">Upload your original recipes</span>
            </div>
            <div class="col m4 s12">                        
                <a href="#modal1" class="btn modal-trigger btn-more">Add recipe</a>
            </div>
        </div>
    </div>
    <!-- /new -->

    <!-- <div class="container title-section">
        <div class="row">
            <div class="col s12">
                <h3 class="recipe-title">Your Recipes - {{ recipes_complete|length }}</h3>
                <hr class="title-underline">
                
                <div class="col s12">
                    <span class="recipe-subtitle">Upload your personal recipes
                    </span>
                </div>
                <div class="col s12">                    
                        <a href="#modal1" class="btn modal-trigger hide-on-med-and-up add-recipe-btn">Add recipe</a>
                </div>
            </div>
        </div>        
    </div> -->
    
    
    <div class="container">
        <div class="row">

            <!-- <div class="col s12 m6 l6 xl4">
                <div class="card large hoverable center-align add-recipe-card hide-on-small-only">
                    <a class="modal-trigger" href="#modal1">                                
                        <i class="fas fa-plus add-recipe-icon"></i>                                                               
                    </a>
                </div>                
            </div> -->
            
                {% for recipe in recipes %}
                    <div class="col s12 m6 l6 xl4">
                        <div class="card large hoverable">
                            <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                <div class="card-image">
                                    <img src="{{ recipe.recipe_img }}" alt="recipe-image">
                                    <span class="card-title"></span>
                                </div>
                                <div class="card-content center-align">
                                    <h5 class="recipe-name">
                                        {{ recipe.recipe_name }}
                                    </h5>                                                                       
                                    <div class="chip">
                                        <i class="fas fa-heart"> {{ recipe.likes}}</i>                
                                    </div>
                                    <div class="chip">
                                        <i class="fas fa-comment"> {{ recipe.comment_array|length }}</i>                
                                    </div>
                                    <div class="chip">
                                        {{ recipe.difficulty }}                
                                    </div> 
                                </div>

                                <div class="card-action center-align">                                    
                                    {% if user._id|string == recipe.created_by %}
                                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn">Edit</a>
                                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn red accent-4">Delete</a>
                                    {% endif %}
                                </div>
                                
                            </a>
                        </div>                
                    </div>
                {% endfor %}
            </div>
            <div class="row center-align">
                {{ pagination.links }}
            </div>
        </div>

  <!-- Modal Structure -->
    <div id="modal-img" class="modal">
        <div class="modal-title center-align">
            <h4>Edit Profile</h4>
            <p>Change your info</p>
        </div>
        <div class="modal-content">            
            <form class="col s12" method="POST" action="{{ url_for('profile', username=username) }}">
                <!-- email address -->
                <div class="row">
                    <div class="input-field col s12">
                        <input type="email" id="user_email" name="user_email" minlength="5" maxlength="50"
                            value="{{ user.email }}" class="validate" required>
                        <label for="user_email">Email*</label>
                    </div>
                </div>
                <!-- profile image -->
                <div class="row">
                    <div class="input-field col s12">
                        {% if user.user_img == "https://i.imgur.com/3XizFU1.png" %}
                            <textarea id="user_img" name="user_img" minlength="5"
                            maxlength="200" class="materialize-textarea validate"></textarea>
                        {% else %}
                            <textarea id="user_img" name="user_img" minlength="5"
                            maxlength="200" class="materialize-textarea validate">{{ user.user_img }}</textarea>
                        {% endif %}                        
                        <label for="user_img">Image URL</label>
                        <small>Leave blank to set the default image.</small>
                    </div>
                </div>
                <!-- newsletter toggle -->
                <div class="row">
                    <div class="input-field col s12 center-align">
                        <p>
                            <label>
                                {% if is_subscribed %}
                                    <input type="checkbox" name="newsletter-checkbox" id="newsletter-checkbox" class="filled-in" checked="checked">
                                {% else %}
                                    <input type="checkbox" name="newsletter-checkbox" id="newsletter-checkbox" class="filled-in">
                                {% endif %}
                                <span>Subscribe to the newsletter</span>
                            </label>
                        </p>
                    </div>
                </div>
                <!-- submit button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn">
                            Confirm
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-title center-align">
            <h4>Upload your recipe!</h4>
            <p>Fill the fields and press confirm</p>
        </div>
        <div class="modal-content">            
            <form class="col s12" method="POST" action="{{ url_for('profile', username=username) }}">                
                <!-- recipe name -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50"
                            value="" type="text" class="validate" required>
                        <label for="recipe_name">Recipe Name*</label>                        
                    </div>
                </div>
                <!-- category selection -->
                <div class="row">
                    <div class="input-field col s12">                        
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled selected>Choose Category</option>
                            {% for category in categories %}                                
                                <option value="{{ category._id }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="category_name">Recipe Category*</label>
                    </div>
                </div>                
                <!-- first ingredient -->            
                <div class="row" id="ingredients_wrapper">
                    <div class="input-field col s12">
                        <input type="text" id="ingredient_list" name="ingredient_list[]" minlength="5"
                                maxlength="2000" class="validate" 
                                required>
                        <label for="ingredient_list">First Ingredient*</label>
                    </div>
                </div>
                <!-- add ingredient button -->            
                <div class="row">
                    <div class="input-field col s12">
                        <button id="add_recipe" type="button" class="btn">Add new ingredient</button>
                    </div>                    
                </div>
                <!-- recipe steps -->            
                <div class="row" id="steps_wrapper">
                    <div class="input-field col s12">                        
                        <input type="text" id="recipe_steps" name="recipe_steps[]" minlength="5"
                                maxlength="4000" class="validate" required>
                        <label for="recipe_steps">First Step*</label>                        
                    </div>                    
                </div>
                <!-- recipe step button -->            
                <div class="row">
                    <div class="input-field col s12">                        
                        <button id="add_recipe_step" type="button" class="btn">Add new step</button>                                               
                    </div>                    
                </div>
                <!-- recipe image -->
                <div class="row">
                    <div class="input-field col s12">                        
                        <textarea id="recipe_img" name="recipe_img" minlength="5"
                            maxlength="200" class="materialize-textarea validate"></textarea>
                        <label for="recipe_img">Image URL</label>
                        <small>Leave blank to set the default image.</small>
                    </div>
                </div>                
                <!-- difficulty -->
                <div class="row">                    
                    <div class="input-field col s12">
                        <select id="difficulty" name="difficulty" class="validate" required>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="Easy">Easy</option>
                            <option value="Medium">Medium</option>
                            <option value="Hard">Hard</option>
                        </select>
                        <label for="difficulty">Difficulty*</label>
                    </div>
                </div>
                <!-- servings -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="servings" placeholder="Example: 2" type="number" name="servings" class="validate" minlength="1" maxlength="1" required>                        
                        <label for="servings">Servings*</label>
                    </div>
                </div>
                <!-- preparation time -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="preparation_time" placeholder="Example: 30" type="number" name="preparation_time" class="validate" minlength="1" maxlength="3" required>
                        <label for="preparation_time">Preparation Time*</label>
                        <small>Insert the time in minutes.</small>
                    </div>
                </div>
                <!-- is spicy toggle -->
                <div class="row">
                    <div class="input-field col s12">
                        <div class="switch">                            
                            <label for="is_spicy">
                                <input type="checkbox" id="is_spicy" name="is_spicy">
                                <span class="lever"></span>
                                Is Spicy
                            </label>
                        </div>
                    </div>
                </div>
                <!-- is vegan toggle -->
                <div class="row">
                    <div class="input-field col s12">
                        <div class="switch">                            
                            <label for="is_vegan">
                                <input type="checkbox" id="is_vegan" name="is_vegan">
                                <span class="lever"></span>
                                Is Vegan
                            </label>
                        </div>
                    </div>
                </div>
                <!-- submit button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn">
                            Confirm
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}