{% extends "base.html" %}

{% block content %}

    <!-- REGISTER CONTENT -->
    <div class="container">
        <div class="row card-panel edit-panel">
            <div class="col s12 edit-title center-align">
                <h3>Register</h3>
            </div>
            <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
                <div>
                    <!-- username -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-plus prefix"></i>
                            <input id="username" name="username" type="text" minlength="5"
                                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <!-- email address -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-envelope-open-text prefix"></i>
                            <input type="email" id="email" name="email" minlength="5" maxlength="50"
                                class="validate" required>
                            <label for="email">Email*</label>
                        </div>
                    </div>
                    <!-- password -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-lock prefix"></i>
                            <input id="password" name="password" type="password" minlength="5"
                                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <!-- newsletter toggle -->
                    <div class="row">
                        <div class="input-field col s12 center-align">
                            <p>
                                <label>
                                    <input type="checkbox" name="newsletter-checkbox" id="newsletter-checkbox" class="filled-in" checked="checked" />
                                    <span>Subscribe to the newsletter</span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <!-- register -->
                    <div class="row center-align">
                        <button type="submit" class="btn">
                            Register <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col s12">
                    <p class="center-align">
                        Already Registered?
                        <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log In</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /REGISTER CONTENT -->
    
{% endblock %}