{% extends "base.html" %}
{% block content %}

    
    
    <div id="modal-comment" class="modal">
        <div class="modal-content">
            <h4>Register to leave a like!</h4>
            <p>Please register now to leave a like and upload your unique recipes!</p>
            <div class="container-fluid">
                <form method="POST" action="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea-comment" class="materialize-textarea" name="textarea-comment" required></textarea>
                            <label for="textarea-comment">Textarea</label>
                        </div>
                    </div>
                    <button  class="waves-light btn">
                        comment
                    </button>
                </form>
            </div>
        </div>        
        <div class="modal-footer">
            <!-- <a class="btn" href="{{ url_for('register') }}">Sign Up!</a> -->
            <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a> -->
        </div>
    </div>

    <div class="container">

    </div>
    

    <div class="container title-section">
        <div class="row">
            <nav class="nav-breadcrumb">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="{{ url_for('home') }}" class="breadcrumb">Home</a>
                        <a href="{{ url_for('get_recipes') }}" class="breadcrumb">Recipes</a>
                        <a href="{{ url_for('category', category=recipe.category) }}" class="breadcrumb">{{ category.category_name }}</a>
                        <a href="" class="breadcrumb">{{ recipe.recipe_name }}</a>
                    </div>
                </div>
            </nav>            
            <div class="col s12">
                <h3 class="recipe-title">{{ recipe.recipe_name }} - {{ recipe.likes }} <i class="far fa-heart"></i>
                    {% if user._id|string == recipe.created_by or user.id|string == "605b52c31a93cdb5624e75ba" %}
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn">Edit</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn red accent-4">Delete</a>
                    {% endif %}
                </h3>
                <hr class="title-underline">
                <!-- <span class="recipe-subtitle">A {{ recipe.category_name }} created by {{ recipe.created_by }}</span> -->
                <span class="recipe-subtitle">A {{ category.category_name }} created by {{ author.username }}</span>
            </div>
        </div>        
    </div>

    <div class="container">
        <div class="row card-panel feature-panel">
            <div class="col s8 no-padding">
                <img class="recipe-img materialboxed" src="{{ recipe.recipe_img }}" alt="recipe_image">
            </div>
            <div class="col s4">
                <h4 class="center-align">Features:</h4>
                <ul>
                    <li><i class="fas fa-clock feature-icon"></i>Preparation Time: {{ recipe.preparation_time }} min</li>
                    <li><i class="fas fa-users feature-icon"></i>Serves: {{ recipe.servings }}</li>
                    <li><i class="fas fa-utensils feature-icon"></i>Difficulty: {{ recipe.difficulty }}</li>
                </ul>
                <br>
                <div class="tag-section">
                    {% if recipe.is_vegan == "on" %}
                        <div class="chip">
                            Vegan                
                        </div>
                    {% endif %}
                    {% if recipe.is_spicy == "on" %}
                        <div class="chip">
                            Spicy                
                        </div>
                    {% endif %}
                </div>
                <form method="POST" action="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                    <div class="like-box center-align">
                        <!-- {{ is_liked }}{{ session.user }} -->
                        {% if session.user %}                        
                            {% if user._id|string in recipe.like_array %}
                                <button  class="waves-light btn btn-like-yes">
                                    <i class="material-icons left">favorite</i>{{ recipe.likes }} You like it!
                                </button>
                            {% else %}
                                <button  class="waves-light btn btn-like-no">
                                    <i class="material-icons left">favorite</i>{{ recipe.likes }} Likes!
                                </button>
                            {% endif %}
                        {% else %}
                            <a class="waves-light btn btn-like-no modal-trigger" href="#modal-like-button">
                                <i class="material-icons left">favorite</i>{{ recipe.likes }} Likes!
                            </a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>

    
    <!-- Modal Structure -->
    <div id="modal-like-button" class="modal">
        <div class="modal-content">
            <h4>Register to leave a like!</h4>
            <p>Please register now to leave a like and upload your unique recipes!</p>
        </div>        
        <div class="modal-footer">
            <a class="btn" href="{{ url_for('register') }}">Sign Up!</a>
            <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a> -->
        </div>
    </div>

    <div class="container">
        <div class="row recipe-content">
            <div class="col s4 card-panel ingredient-panel">
                <h3 class="white-text">Ingredient List:</h3>
                <hr class="title-underline white">
                <!-- <form>
                    {% for ingredient in recipe.ingredient_list %}
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span>{{ ingredient }}</span>
                            </label>
                        </p>                    
                    {% endfor %}
                    </form> -->
                    <ul class="ingredient-list">
                    {% for ingredient in recipe.ingredient_list %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                    </ul>
            </div>
            <div class="col s8" id="recipe-steps">
                <h3>Recipe Steps:</h3>
                <hr class="title-underline">
                <ol>
                    {% for step in recipe.recipe_steps %}
                        <li>{{ step }}</li><br>
                    {% endfor %}
                </ol>  
            </div>
        </div>
    </div>

    <!-- <div class="container">
        <div class="row">
            <div class="col s12">
                {% if session.user|lower == recipe.created_by|lower %}
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small green accent-4">Done</a>
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small light-blue lighten-1">Edit</a>                                    
                {% endif %}
            </div>
        </div>
    </div> -->

    <!-- comment section -->
    <div class="container title-section">
        <div class="row">
            <div class="col s12">
                <h3 class="recipe-title">Comments - {{ recipe.comment_array|length }} <i class="far fa-comment"></i></h3>
                <hr class="title-underline">
                <span class="recipe-subtitle">Share your thoughts with the community</span>
            </div>
        </div>        
    </div>
    <div class="container comment-section">
        <div class="row">
            {% for comment in recipe.comment_array %}
                <div class="comment">
                    <span id="comment-user">{{ comment[0] }}</span><span id="comment-date"> {{ comment[2] }}</span><br>                    
                    <span id="comment-text">{{ comment[1] }}</span>                    
                </div>
                <br>
            {% endfor %}
        </div>

        {% if session.user %}
            <a class="waves-light btn btn-like-no modal-trigger" href="#modal-comment">
                comment
            </a>
        {% else %}
            <a class="waves-light btn btn-like-no modal-trigger" href="#modal-like-button">
                Comment
            </a>
        {% endif %}
    </div>
    <!-- /comment section -->
    

    <!-- random recipes -->
    <div class="container title-section">
        <div class="row">
            <div class="col s6">
                <h3 class="recipe-title">You may like</h3>
                <hr class="title-underline">
                <span class="recipe-subtitle">Browse our selection of recipes</span>
            </div>
        </div>        
    </div>
    {% if recipes|length > 0 %}
        <div class="container">
            <div class="row">
                {% for recipe in recipes %}
                    {% if loop.index <= 3  %}
                        <div class="col s12 m7 l4">
                            <div class="card medium hoverable">
                                <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                    <div class="card-image">
                                        <img src="{{ recipe.recipe_img }}">
                                        <span class="card-title"></span>
                                    </div>
                                    <div class="card-content center-align">
                                        <h5 class="recipe-name">
                                            {{ recipe.recipe_name }}
                                        </h5>                                                                        
                                        <div class="chip">
                                            {{ recipe.difficulty }}                
                                        </div>
                                    </div>                                                               
                                </a>
                            </div>                
                        </div>
                    {% else %}
                        {{ break }}
                    {% endif  %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}
    <!-- /random recipes -->

{% endblock %}